body {
    margin:0;
    background-color: lightblue;
}
.container {
    margin: 10px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-row: 1fr;
}
video {
    

    
}
h1 {
    font-size: xx-large;
    text-align: center;
    inset-block: 
}

h2 {
    font-weight: 300;
    text-align: center;
}

p {
    display: inline-block;
    block-size: 80%;
    max-width: 80%;
    height: 1.5em;
    text-align: justify;
    text-align:left;
}

div {
    float:inline-start;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    height: 20vh;
    padding: 15px;
}
.links div {
    background-color: rgb(78, 189, 226);
}

    

